    body{
        background-image: url("cosmo.jpg");
        background-size: cover;
        font-family: Poor Richard;
        width: 90%;
        margin: 0 auto;
        border: 3px solid wheat;
        border-radius: 20px;
    }
    p{
        color: black;
        font-size: 20px;
        padding: 0 10px;
        background-color: #E37007;
        border: 3px solid #E08C07;
        border-radius: 10px;
    }
    .second_class{
        color: #39E086;
        font-size: 18px;
        background-color: #E37007;
        border: 3px solid #E08C07;
        border-radius: 10px;
    }
    #leftcol { /* Левая колонка */
        float: left; /* Обтекание справа */
        width: 200px; /* Ширина колонки */
        background-color: #E37007;
        border: 3px solid #E08C07;
        border-radius: 10px;
        color: black;
        font-family: cursive;
    }
    #rightcol { /* Правая колонка */
        margin-left: 220px; /* Отступ слева */
    }
    li{
        color: black;
        font-size: 20px;
        padding: 0 10px;
        background-color: #E37007;
        border: 3px solid #E08C07;
        border-radius: 10px;
    }
    .third_class{
        background: #e08c07;
        background-opacity: 0.5;
        /*position: absolute;*/
        height: 100vh;

    }
    img{
        margin: 0 auto;
    }
    a{
        text-decoration: none;
        color: aliceblue;
        background: #E37007;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .header_logo{
        color: aliceblue;
        background: aqua;
        border: 4px wheat;
    }